*.o
*.8
config.h
config.log
config.status
configuration-file/pure-config.pl
configuration-file/pure-config.py
configuration-file/pure-ftpd.conf
Makefile
pure-ftpd.spec
puredb/src/example_read
puredb/src/example_write
puredb/src/regression
puredb/src/.deps/
puredb/src/libpuredb_read.a
puredb/src/libpuredb_write.a
src/.deps/
src/libpureftpd.a
src/ptracetest
src/pure-authd
src/pure-ftpd
src/pure-ftpwho
src/pure-mrtginfo
src/pure-pw
src/pure-pwconvert
src/pure-quotacheck
src/pure-statsdecode
src/pure-uploadscript
stamp-h1
